<div class="row">
  <div class="product col-md-4">
  <% @products.each_with_index do |product, i| %>
    <% if i % 3 == 0 %>
      <%= link_to(product_path(product)) do %>
        <img class="img-responsive" src="<%= product.photo %>" alt="">
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="product col-md-4">
  <% @products.each_with_index do |product, i| %>
    <% if i % 3 == 1 %>
      <%= link_to(product_path(product)) do %>
      <img class="img-responsive" src="<%= product.photo %>" alt="">
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="product col-md-4">
  <% @products.each_with_index do |product, i| %>
    <% if i % 3 == 2 %>
      <%= link_to(product_path(product)) do %>
        <img class="img-responsive" src="<%= product.photo %>" alt="">
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
